body{
	margin:0px;
}

.frame{
	width:100%;
	height:83px;
	color:white;
	display:flex;justify-content:center;
	align-items:center;
	margin-left:auto;margin-right:auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b6193+0,3b5998+100 */
background: #4b6193; /* Old browsers */
background: -moz-linear-gradient(top, #4b6193 0%, #3b5998 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4b6193 0%,#3b5998 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4b6193 0%,#3b5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6193', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
}

.left{
	width:560px;
	font-size:46px;
	background-color:#3b5998;
	padding-top:13px;
	padding-right:18px;
	font-family:Tw Cen MT;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b6193+0,3b5998+100 */
background: #4b6193; /* Old browsers */
background: -moz-linear-gradient(top, #4b6193 0%, #3b5998 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4b6193 0%,#3b5998 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4b6193 0%,#3b5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6193', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
}

.right{
	width:400px;
	background-color:#3b5998;
	display:flex;
	justify-content:flex-end;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b6193+0,3b5998+100 */
background: #4b6193; /* Old browsers */
background: -moz-linear-gradient(top, #4b6193 0%, #3b5998 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4b6193 0%,#3b5998 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4b6193 0%,#3b5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6193', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
}

.account{
	width:150px;
	height:15px;
	font-size:13px;
	line-height:25px;
	padding-right:14px;
	padding-bottom:48px;
}

.signupA{
	width:40px;
	height:25px;
	font-weight:bold;
	border:0px;
	background-color:#005dad;
	color:white;
	border-radius:2px;
	border:1px #004c8f solid;
	margin-top:25px;
	padding-right:3px;
}

.input{
	width:150px;
	height:24px;
	border-radius:1px;
	border:1px black solid;
	text-indent:3px;
	margin-right:3px;
}


.framee{
	width:100%;
	height:592px;
	display:flex;justify-content:center;
	align-items:flex-start;
	margin-left:auto;margin-right:auto;
	color:black;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,a2b3c4+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #a2b3c4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#a2b3c4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#a2b3c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a2b3c4',GradientType=0 ); /* IE6-9 */

}

.gossip{
	width:580px;
	font-size:21px;
	color:#003d79;
	font-family:sans-serif;
	margin-top:40px;
	margin-left:20px;
	line-height:29px;
}

.signupB{
	width:250px;
	height:10px;
	border-radius:5px;
	border:1px gainsboro solid;
}


.inputB{
	width:194px;
	height:40px;
	font-size:19px;
	text-indent:8px;
	border-radius:5px;
	border:1px #C5D4E7 solid;
	margin-top:10px;
}

.etcc{
	width:420px;
	margin-top:23px;
	color:#3c3c3c;
}

.etc{
	font-size:20px;
	color:#3b5998;
	margin-top:18px;
	line-height:16px;
	font-family:sans-serif;
}

.sex{
	margin-top:3px;
	margin-left:10px;
}

.background{
	width:100%;
	height:100%;
}

.frameee{
	width:980px;
	height:223px;
	justify-content:center;
	align-items:center;
	margin-left:auto;margin-right:auto;
	margin-top:27px;
}

.launage{
	color:#3b5998;
	font-size:13px;
	font-family:sans-serif;
	padding-left:6px;
}

.etccc{
	margin-left:0px;
	color:#3b5998;
	font-size:13px;
	font-family:sans-serif;
	margin-right:15px;
	line-height:20px;
}